{% extends "base/navbar.html" %}
{% load static %} 
{% block title %}  {{ profile_user.nickname }}| SketchDay  {% endblock title %} 

{% block content %}
<div class="podo-card profile-header">
  <div class="profile-pic" style="background-image: url('{{ profile_user.profile_pic.url }}')"></div>
  <div class="info">
    <div class="nickname">{{ profile_user.nickname }}</div>
    <ul class="podo-links">
      <li>{{ profile_user.email }}</li>
    </ul>
  </div>
  {% if user == profile_user %}
  <div class="buttons">
    <a class="podo-button small secondary" href="{% url 'profile-update' %}">
      프로필 수정
    </a>
    <a class="podo-button small secondary" href="{% url 'account_change_password' %}">
      비밀번호 변경
    </a>
  </div>
{% endif %}
</div>
<div class="post-list">
  <div class="content-list max-content-width">
    <div class="header">
      {% if  user == profile_user %}
      <h2>{{profile_user.nickname}}님의 최근 일기</h2>
      {% else %}
      <h2>{{profile_user.nickname}}님의 일기장</h2>
      {% endif %}
      
      <a class="cp-ic-button after circle morereview" href="{% url 'main' %}">
        공유 일기보기
      </a>
    </div>

    {% if  user == profile_user %}
      <div class="header">
        {% if user_diary %}
        <a class="link" href="{% url 'user-review-list' profile_user.id %}">
          <span>내일기 전체보기</span>
          {% comment %} <img class="triangle-icon" src="{% static '' %}" alt="triangle icon"> {% endcomment %}
        </a>
        {% endif %}
    {% else %}
      {% if user_diary %}
      <a class="link" href="{% url 'user-review-list' profile_user.id %}">
        <span>{{profile_user.nickname}}님의 공유 일기 전체보기</span>
        {% comment %} <img class="triangle-icon" src="{% static '' %}" alt="triangle icon"> {% endcomment %}
      </a>
      {% endif %}
    {% endif %}

      </div>
      <div class="posts">
    
        {% for diary in user_diary%}
          <div class="podo-card post">
            <img class="thumb" src="{{diary.image.url}}" alt="썸네일 이미지">
            <div class="content">
              <h2 class="title">{{diary.title}}</h2>
              <div class="meta">
                {{diary.dt_created}}
              </div>
              <div class="meta">
                {{ diary.author.nickname }}
              </div>
              <a class="btn btn-primary" href="{% url 'diary-detail' diary.id %}">자세히보기</a>
            </div>
          </div>
            {% empty %}
            <p class="empty">작성된 일기가 없어요 :(</p>
            {% endfor %} 
    </div>
  </div>
    </div>
  </div>
    {% endblock content %}
    
