{% extends "base/base.html" %}

{% load static %}

{% block header %}

<header class="site-header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="{% url 'cal:calendar' %}">
      <img class="logo" src="{% static 'Login/assets/Logo.png' %}?12D132" alt="Logo">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {% block navi %}
            {% endblock navi %}
            <li><a class="nav-link" href="{% url 'main' %}">공유 일기</a></li> 
          {% if user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'profile' user.id %}">내 프로필</a></li>
            <li><a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'account_login' %}">로그인</a></li> 
            <li><a class="nav-link" href="{% url 'account_signup' %}">회원가입</a></li>
          </li>

          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>
</header>

{% endblock header %}

{% block footer %}
<footer class="site-footer navbar-fixed-bottom">
  <div class="max-content-width content">
    <div></div>
    <div>SketchDay  &copy; AIVLE</div>
  </div>
</footer>
{% endblock footer %}