{% extends "base/navbar.html" %}

{% load static %}

{% block content %}
{% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible alert-warning">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <h4 class="alert-heading">{{ message.tag }}</h4>
              <p class="mb-0">{{ message.tag }}{{ message }}</p>
      </div>
  {% endfor %}
{% endif %}
<div class="post-list">
  <div class="header">
    <h2>공유 일기</h2>
  </div>

  <div class="posts">
    
    {% for diary in diarys%}
      <div class="podo-card post">
        {%if diary.image%}
          <img class="thumb" src="{{diary.image.url}}" alt="썸네일 이미지">
        {%endif%}
        <div class="content">
          <h2 class="title">{{diary.title}}</h2>
          <div class="meta">
            {{diary.dt_created}}
          </div>
          <div class="meta">
            {{ diary.author.nickname }}
          </div>
          <a class="btn btn-primary" href="{% url 'diary-detail' diary.id %}">자세히보기</a>
        </div>
      </div>
        {% empty %}
        <p class="empty">작성된 일기가 없어요 :(</p>
        {% endfor %} 
</div>
  <div class="container">
    <div class="row">
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">처음</a></li>
          <li  class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item">{{ num }}</li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
  </div>
<script>
  window.setTimeout(function() {
    $(".alert-dismissible").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2000);
</script>
{% endblock content %}