{% extends "base/navbar.html" %}

{% block navi %}
  <li><a class="nav-link" data-toggle="modal" data-target="#myModal">이번 달 나는?</a></li>
{% endblock navi %}

{% load static %}
{% block content %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'emotion_calendar/css/calender_styles.css' %}?3ff1">
  <title>SketchDay</title>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'emotion_calendar/css/calender_styles.css' %}?1">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
{% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible alert-warning">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <h4 class="alert-heading">{{ message.tag }}</h4>
              <p class="mb-0">{{ message.tag }}{{ message }}</p>
      </div>
  {% endfor %}
{% endif %}
<script>
  window.setTimeout(function() {
    $(".alert-dismissible").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2000);
</script>
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-sm-12">
        <div> 
          <div style="float: left; width: 5%; margin-top: 25%;">
            <a class="btn" href="{% url 'cal:calendar' %}?{{ prev_month }}" style="font-size: 3rem"> < </a>
          </div>
          <div style="float: left; width: 90%">
            {{ calendar }}
          </div>
          <div style="float: left; width: 5%;  margin-top: 25%;">
            <a class="btn" href="{% url 'cal:calendar' %}?{{ next_month }}" style="font-size: 3rem"> > </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-fullsize" role="document">
    <div class="modal-content modal-fullsize">
      <div class="modal-header">
        <h4 class="modal-title center" id="myModalLabel">이번 달 나는?</h4>
        <button type="button" class="close right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body">
        <div>
          <p>워드 클라우드</p>
          <center><img src="{{ img_path }}" style="width:250px; height:250px;"></center>
        </div>
        <div>
          <p>감정선</p>
          <canvas id="monthChart"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<script>
  var emotion_line = document.getElementById('monthChart').getContext('2d');
  var emotionLineChart = new Chart(emotion_line, {
      type: 'bar',
      // data:{
      //   labels: {{ labels }},
      //   datasets: [{
      //       label: '행복',
      //       data: {{ happy }},
      //       borderColor: "#f7323f",
      //       lineTension: 0,
      //   },{
      //         label: '평온',
      //         data: {{ normal }},
      //         borderColor: "#673ba7",
      //         lineTension: 0,
      //   },{
      //         label: '슬픔',
      //         data: {{ sad }},
      //         borderColor: "#ff6384",
      //         lineTension: 0,
      //   },{
      //         label: '분노',
      //         data: {{ angry }},
      //         borderColor: "#cc65fe",
      //         lineTension: 0,
      //   },{
      //         label: '불안',
      //         data: {{ anxiety }},
      //         borderColor: "#ffce56",
      //         lineTension: 0,
      //   }]
      // }
      data:{
        labels: ['기쁨', '평온', '슬픔', '화남', '불안'],
        datasets: [{
            label: '이번달 총 감정지수',
            data: [{{ happy }}, {{ normal }}, {{ sad }}, {{ angry }}, {{ anxiety }}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
          ],
          borderWidth: 1,
        }]
      },
      options: {
        indexAxis: 'y',
      }
  });

</script>
{% endblock content %}