{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}로그인 | SketchDay{% endblock title %}



{% block content %}
<div class="login">
  <form method="post">
        <a href="{%url 'cal:calendar' %}">
          <img class="logo" src="{% static 'Login/assets/Logo.png' %}?after" alt="Logo">
        </a>

      {% csrf_token %}

      <div class="email">
        <!--input태그를 장고의 form 태그로 바꾸기-->
        <label for="floatingInput">이메일</label>
        {{form.login|add_class:"form-control"|attr:"placeholder=이메일"|add_error_class:"error"}}<!--attr: 태그에 새로운 속성이 있으면 추가 없으면 그대로-->
        {% for error in form.login.errors %}
          <div class="form-error error-message">{{error}}</div>
        {% endfor %}
      </div>
      <div>
        <label for="floatingInput">비밀번호</label>
        {{form.password|add_class:"form-control"|attr:"placeholder=비밀번호"|add_error_class:"error"}}
        {% for error in form.password.errors %}
          <div class="form-error error-message">{{error}}</div>
        {% endfor %}
        <div class="non-field-errors">
          {% for error in form.non_field_errors %}
            <div class="error-message">{{ error }}</div>
          {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">로그인</button>
      </div>
    </form>

    <ul class="podo-links links">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-secondary" href="{% url 'account_reset_password'%}">비밀번호 찾기</a>
      <a class="btn btn-secondary" href="{% url 'account_signup'%}">회원가입</a>
    </div>
  </ul>

</div>

{% endblock content %}
