{% extends "base/header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 찾기 | SketchDay{% endblock title %}

{% block content %}
<div class="password-reset podo-box">
    <h1 class="heading">비밀번호 재설정</h1>
    <form class="form" method="post">
    {% csrf_token %}
    <div>
      {{ form.email|add_class:"form-control"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요."|add_error_class:"error" }}
      {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="btn btn-primary" type="submit">이메일 보내기</button>
  </form>
</div>
{% endblock content %}